#BG1{
 background: linear-gradient(to bottom, rgb(213,206,166) 0%,rgb(183,173,112) 12%,rgb(183,173,112) 85%,rgb(201,193,144) 86%,rgb(201,193,144) 86%,rgb(201,193,144) 91%,rgb(201,193,144) 91%);
}

a{
  color: black;
  text-decoration:none;
  background-color: #deaa88;
  font-weight: bold;
}

nav#box2 a:hover{
  background-color: #936E55;
  color: #F7E9E0;
  border-radius: 20px;
}

#box1 {
  background: linear-gradient(to bottom, #b7ad70 34%,#b7ad70 34%,#c9c190 37%,#c9c190 37%,#c9c190 42%,#d5cea6 50%,#b7ad70 52%);
  padding: 30px;
  margin: 1px;
  border: 60px;
  
}
#box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  background-color: #d5cea6;
  padding: 30px;
} 

div#box3 {
  padding: 10px;
  display:flex;
  flex-direction:column;
  border: 5px;
  margin: 0;
  background: linear-gradient(to bottom, #fffdc6 0%,#b7ad70 4%,#b7ad70 4%,#b7ad70 7%,#b7ad70 12%,#b7ad70 96%,#fffdc6 100%);
  text-align: center;
}  
  p#border {
  border: 3px;
  margin: 0;
  background: linear-gradient(to bottom, #fffdc6 0%,#fffdc6 100%);
}
.container{
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #fffdc6 0%,#b7ad70 4%,#b7ad70 4%,#b7ad70 7%,#b7ad70 12%,#b7ad70 96%,#fffdc6 100%);
    z-index: 2;
}

.item{
    color:black;
    text-align: center;  
}

h1{
  font-weight: 900;
  text-align: center;
}    



  
  
  
#BG2{
  background: linear-gradient(to bottom, rgb(213,206,166) 5%,rgb(183,173,112) 11%,rgb(183,173,112) 97%,rgb(201,193,144) 99%); 
} 
 
 
p#border {
  border: 3px;
  margin: 0;
  background: linear-gradient(to bottom, #fffdc6 0%,#fffdc6 100%);
}

#img1{
  height: 350px;
  width: 240px;
  float: left;
  margin: 10px;
  border: none;
  border-radius: 5px;  
}
#img2{
  height: 350px;
  width: 240px;
  float: right;
  margin: 10px;
  border: none;
  border-radius: 5px;
        
}
#img3{
  height: 350px;
  width: 240px;
  float: left;
  margin: 10px;
  border: none;
  border-radius: 5px;   
        
}
#imgdiv{
  font-size: 30px;
  color: black;
  font-family: "Depot New", Lora, sans-serif;
}






#BG3{
 background: linear-gradient(to bottom, rgb(213,206,166) 5%,rgb(183,173,112) 11%,rgb(183,173,112) 97%,rgb(201,193,144) 99%);
} 

.clear{
  clear: both;
}
  
.audio-container{
   padding: 2px;
   border-radius: 2px;
   margin: 5px;
}

#p3img1{
  height: 350px;
  width: 240px;
  float: left;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
#p3img2{
  height: 350px;
  width: 240px;
  float: right;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
#p3img3{
  height: 350px;
  width: 240px;
  margin: 10px;
  border: none;
  border-radius: 5px;
 z-index: 12;
}
.parent{
  position: relative;
  width: 100%;
}
.abs{
  position: absolute;
  bottom: -350px;
  left: -50px
}

#p3img4{
  height: 350px;
  width: 240px;
  float: left;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
#p3img5{
  height: 350px;
  width: 240px;
  float: left;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

#p3t1{
  background: linear-gradient(to bottom, #b7ad70 34%,#b7ad70 34%,#c9c190 37%,#c9c190 37%,#c9c190 42%,#d5cea6 50%,#b7ad70 52%);
  padding: 1px;
  margin: 1px;
  border: 60px;
  text-shadow:
    1px 1px 1px #00ff00,
    2px 2px 1px #fff;
}
#p3t2{
  background: linear-gradient(to bottom, #b7ad70 34%,#b7ad70 34%,#c9c190 37%,#c9c190 37%,#c9c190 42%,#d5cea6 50%,#b7ad70 52%);
  padding: 30px;
  margin: 1px;
  border: 60px;
  text-shadow:
    1px 1px 1px #cccccc,
    2px 2px 1px #fff;
}
#p3t3{
  background: linear-gradient(to bottom, #b7ad70 34%,#b7ad70 34%,#c9c190 37%,#c9c190 37%,#c9c190 42%,#d5cea6 50%,#b7ad70 52%);
  padding: 3px;
  margin: 3px;
  border: 0px;
  text-shadow:
    1px 1px 1px #e4ac19,
    2px 2px 1px #fff;
}

#imgdiv1{
  font-size: 15px;
  color: black;
}
#imgdiv2{
  font-size: 15px;
  color: black;
  padding: 100px;
  border: 10px;
  margin: 100px;
}
#imgdiv3{
  font-size: 15px;
  color: black;
}
#font0p3{
  font-size: 25px;
  color: black;
}
